In [52]:
# import packages
import datetime
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# basic data EDA

In [9]:
bs_reviews = pd.read_csv("./data/boston_reviews.csv")
bs_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1178162,4724140,2013-05-21,4298113,Olivier,My stay at islam's place was really cool! Good...
1,1178162,4869189,2013-05-29,6452964,Charlotte,Great location for both airport and city - gre...
2,1178162,5003196,2013-06-06,6449554,Sebastian,We really enjoyed our stay at Islams house. Fr...
3,1178162,5150351,2013-06-15,2215611,Marine,The room was nice and clean and so were the co...
4,1178162,5171140,2013-06-16,6848427,Andrew,Great location. Just 5 mins walk from the Airp...

In [10]:
bs_listing = pd.read_csv("./data/boston_listings.csv")
bs_listing.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,12147973,https://www.airbnb.com/rooms/12147973,20160906204935,2016-09-07,Sunny Bungalow in the City,"Cozy, sunny, family home. Master bedroom high...",The house has an open and cozy feel at the sam...,"Cozy, sunny, family home. Master bedroom high...",none,"Roslindale is quiet, convenient and friendly. ...",...,NaN,f,NaN,NaN,f,moderate,f,f,1,NaN
1,3075044,https://www.airbnb.com/rooms/3075044,20160906204935,2016-09-07,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Small but cozy and quite room with a full size...,Charming and quiet room in a second floor 1910...,none,"The room is in Roslindale, a diverse and prima...",...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.30
2,6976,https://www.airbnb.com/rooms/6976,20160906204935,2016-09-07,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",none,The LOCATION: Roslindale is a safe and diverse...,...,10.0,f,NaN,NaN,f,moderate,t,f,1,0.47
3,1436513,https://www.airbnb.com/rooms/1436513,20160906204935,2016-09-07,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Most places you find in Boston are small howev...,Come experience the comforts of home away from...,none,Roslindale is a lovely little neighborhood loc...,...,10.0,f,NaN,NaN,f,moderate,f,f,1,1.00
4,7651065,https://www.airbnb.com/rooms/7651065,20160906204935,2016-09-07,Come Home to Boston,"My comfy, clean and relaxing home is one block...","Clean, attractive, private room, one block fro...","My comfy, clean and relaxing home is one block...",none,"I love the proximity to downtown, the neighbor...",...,10.0,f,NaN,NaN,f,flexible,f,f,1,2.25

In [11]:
bs_calendar = pd.read_csv("./data/boston_calendar.csv")
bs_calendar.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [12]:
# have a closer look at listing data
bs_listing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 95 columns):
id                                  3585 non-null int64
listing_url                         3585 non-null object
scrape_id                           3585 non-null int64
last_scraped                        3585 non-null object
name                                3585 non-null object
summary                             3442 non-null object
space                               2528 non-null object
description                         3585 non-null object
experiences_offered                 3585 non-null object
neighborhood_overview               2170 non-null object
notes                               1610 non-null object
transit                             2295 non-null object
access                              2096 non-null object
interaction                         2031 non-null object
house_rules                         2393 non-null object
thumbnail_url                       2986 non-null object
medium_url                          2986 non-null object
picture_url                         3585 non-null object
xl_picture_url                      2986 non-null object
host_id                             3585 non-null int64
host_url                            3585 non-null object
host_name                           3585 non-null object
host_since                          3585 non-null object
host_location                       3574 non-null object
host_about                          2276 non-null object
host_response_time                  3114 non-null object
host_response_rate                  3114 non-null object
host_acceptance_rate                3114 non-null object
host_is_superhost                   3585 non-null object
host_thumbnail_url                  3585 non-null object
host_picture_url                    3585 non-null object
host_neighbourhood                  3246 non-null object
host_listings_count                 3585 non-null int64
host_total_listings_count           3585 non-null int64
host_verifications                  3585 non-null object
host_has_profile_pic                3585 non-null object
host_identity_verified              3585 non-null object
street                              3585 non-null object
neighbourhood                       3042 non-null object
neighbourhood_cleansed              3585 non-null object
neighbourhood_group_cleansed        0 non-null float64
city                                3583 non-null object
state                               3585 non-null object
zipcode                             3547 non-null object
market                              3571 non-null object
smart_location                      3585 non-null object
country_code                        3585 non-null object
country                             3585 non-null object
latitude                            3585 non-null float64
longitude                           3585 non-null float64
is_location_exact                   3585 non-null object
property_type                       3582 non-null object
room_type                           3585 non-null object
accommodates                        3585 non-null int64
bathrooms                           3571 non-null float64
bedrooms                            3575 non-null float64
beds                                3576 non-null float64
bed_type                            3585 non-null object
amenities                           3585 non-null object
square_feet                         56 non-null float64
price                               3585 non-null object
weekly_price                        892 non-null object
monthly_price                       888 non-null object
security_deposit                    1342 non-null object
cleaning_fee                        2478 non-null object
guests_included                     3585 non-null int64
extra_people                        3585 non-null object
minimum_nights                      3585 non-null int64
maximum_nights                      3585 non-null int64
calendar_updated                    3585 non-null object
has_availability                    0 non-null float64
availability_30                     3585 non-null int64
availability_60                     3585 non-null int64
availability_90                     3585 non-null int64
availability_365                    3585 non-null int64
calendar_last_scraped               3585 non-null object
number_of_reviews                   3585 non-null int64
first_review                        2829 non-null object
last_review                         2829 non-null object
review_scores_rating                2772 non-null float64
review_scores_accuracy              2762 non-null float64
review_scores_cleanliness           2767 non-null float64
review_scores_checkin               2765 non-null float64
review_scores_communication         2767 non-null float64
review_scores_location              2763 non-null float64
review_scores_value                 2764 non-null float64
requires_license                    3585 non-null object
license                             0 non-null float64
jurisdiction_names                  0 non-null float64
instant_bookable                    3585 non-null object
cancellation_policy                 3585 non-null object
require_guest_profile_picture       3585 non-null object
require_guest_phone_verification    3585 non-null object
calculated_host_listings_count      3585 non-null int64
reviews_per_month                   2829 non-null float64
dtypes: float64(18), int64(15), object(62)
memory usage: 2.6+ MB

In [20]:
# explore calendar data
bs_calendar_open = bs_calendar[bs_calendar.price.notnull()]
# check data type
bs_calendar_open.info()
bs_calendar_open.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643037 entries, 365 to 1308879
Data columns (total 4 columns):
listing_id    643037 non-null int64
date          643037 non-null object
available     643037 non-null object
price         643037 non-null object
dtypes: int64(1), object(3)
memory usage: 24.5+ MB

     listing_id        date available   price
365     3075044  2017-08-22         t  $65.00
366     3075044  2017-08-21         t  $65.00
367     3075044  2017-08-20         t  $65.00
368     3075044  2017-08-19         t  $75.00
369     3075044  2017-08-18         t  $75.00

In [41]:
# change price type 'object' to 'float'
remove_dollar = lambda x:float(x.replace('$','').replace(',',''))
bs_calendar_open['price'] = bs_calendar_open.price.apply(remove_dollar)

/home/joopoo/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [46]:
# change date type 'object' to 'datetime'
to_datetime = lambda x: datetime.datetime.strptime(x,'%Y-%m-%d')
bs_calendar_open.date = bs_calendar_open.date.apply(to_datetime)

/home/joopoo/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [48]:
bs_calendar_open.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 643037 entries, 365 to 1308879
Data columns (total 4 columns):
listing_id    643037 non-null int64
date          643037 non-null datetime64[ns]
available     643037 non-null object
price         643037 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 44.5+ MB

In [49]:
bs_calendar_open.describe()

         listing_id          price
count  6.430370e+05  643037.000000
mean   7.699288e+06     198.438909
std    4.766178e+06     180.142913
min    3.353000e+03      11.000000
25%    3.616081e+06      85.000000
50%    7.789055e+06     150.000000
75%    1.228796e+07     255.000000
max    1.493346e+07    7163.000000

In [53]:
 sns.lineplot(x="date",y="price",hue='listing_id', data=bs_calendar_open)

AttributeError: module 'seaborn' has no attribute 'lineplot'